@import "./variable.scss";

html {
  scroll-behavior: smooth;

  .vl {
    border-left: 1px solid $terracota;
    height: 55px;
    position: relative;
    left: 19px;
    bottom: 10px;
  }

  .hl {
    border-left: 190px solid $terracota;
    height: 1px;
    position: relative;
    left: -220px;
    bottom: -22px;
    z-index: 1;
  }

  .hl2 {
    border-left: 220px solid $terracota;
    height: 1px;
    position: relative;
    left: 0px;
    bottom: -22px;
  }


  .hl3 {
    border-left: 200px solid #f2f4f3;
    height: 1px;
    position: relative;
    left: 0px;
    bottom: -212px;
    // z-index: 1;
  }
}

body {
  background-color: $gray_bcg;

  p {
    color: $gray;
    font-family: $barlow;
    font-size: 18px;
  }

  .h1-size {
    font-size: 50px;
    font-family: $barlow;
    font-weight: 400;
    line-height: 1;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    font-family: $barlow;
    color: $terracota;
  }

  h3 {
    font-size: 1.1rem;
    font-family: $libre;
    text-transform: uppercase;
    line-height: 1.7;
    margin-bottom: 30px;
    font-weight: 500;

  }

  .logo_container {
    height: 40px;
    width: 40px;

    @media (max-width: 720px) {
      height: initial;
    }
  }

  .btn-green {
    background-color: $vert;
    color: #fff;
    font-family: $archivo;
    font-weight: 900;
    border-radius: 30px;

    &:hover {
      color: #fff;
      background-color: #73b992;
    }
  }

  .btn-gray {
    background-color: $gray_black;
    color: #fff;
    font-family: $archivo;
    font-weight: 900;
    border-radius: 30px;

    &:hover {
      color: #fff;
      background-color: #3d6a75;
    }
  }

}