// font
$archivo : 'Archivo',
sans-serif;
$barlow: 'Barlow',
sans-serif;
$libre: 'Libre Baskerville',
serif;

// color 
$terracota: #bb6b44;
$lavande: #8c90a7;
$vert: #aec9ba;
$gray_black: #2b3335;
$gray: #595958;
$gray_bcg: #f3f4f4;